/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Josefin Sans", sans-serif;
  color: #446381;

  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 133.333% */
}
.btn {
  color: #fff;
  padding: 12px 30px;
  border-radius: 25px;
  background: linear-gradient(137deg, #4499d9 0%, #7367be 100%);
}
.text {
  color: #826f8c;

  line-height: 29px;
}
.el {
  margin-bottom: 26px;
  color: #446381;

  font-size: 23px;

  line-height: 24px;
}
.title {
  color: #eb8382;
  font-size: 68px;
  font-weight: 700;
  line-height: 75px;
}

.container {
  max-width: 1169px;
  margin: 0 auto;
  padding: 5px 15px;
}
.header {
  padding: 10px 0 75px;

  background-color: #eaac8b;
  &__top-inner {
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu {
    display: flex;
    align-items: center;
    &__list {
      display: flex;
    }
    &__list-item {
      margin-left: 45px;
      &:first-child {
        margin-left: 0;
      }
    }
    .menu__btn {
      margin-left: 55px;
      padding: 13px 14px 14px 19px;
    }
  }
  &__info-el {
  }
  &__title {
    margin-bottom: 31px;
  }
  &__title span {
    color: #446381;

    font-size: 58px;

    font-weight: 700;
    line-height: 75px;
  }
  &__text {
    margin-bottom: 36px;
    max-width: 518px;
  }
  &__info-btn {
    padding: 13px 36px 13px 31px;
  }
  &__info-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.about-vr {
  padding: 100px 0;
  background: #ffe6d7;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__info {
    max-width: 586px;
    margin-left: 76px;
  }
  &__el {
    margin-bottom: 30px;
  }
  &__title {
    margin-bottom: 25px;
  }
  &__text {
    margin-bottom: 29px;
  }
}
.about-xbox {
  background-color: #eaac8b;
  padding: 113px 0 159px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__el {
    margin-bottom: 30px;
  }
  &__title {
    margin-bottom: 25px;
  }
  &__text {
    margin-bottom: 29px;
  }
  &__info {
    margin-right: 95px;
  }
}

.pricing {
  padding: 48px 0 73px;
  background: #ffe6d7;
  &__title {
    color: #446381;
    font-size: 23px;
    margin-bottom: 23px;
    line-height: 24px;
    text-align: center; /* 104.348% */
  }
  &__subtitle {
    color: #eb8382;

    font-size: 68px;
    text-align: center;
    font-weight: 700;
    line-height: 75px; /* 110.294% */
  }
  &__list {
    display: flex;
    gap: 0 41px;
  }
  &__list-item {
    width: 360.182px;
    padding: 40px 42px 50px 46px;
    border-radius: 20px;
    background: #fbdacf;
    box-shadow: 0px 20px 50px 0px rgba(132, 148, 205, 0.08);
  }
  .list__inner-item {
    margin-bottom: 25px;
  }

  .standard {
    border-radius: 20px;
    background: #09143c;
  }
  .tarif {
    color: #446381;
    margin-bottom: 33px;
    font-size: 32px;
    margin-bottom: 33px;
    font-weight: 700;
    line-height: 32px;
  }
  .price {
    color: #eb8382;
    max-width: 200px;
    font-size: 50px;
    margin-bottom: 27px;
    font-weight: 700;
    line-height: 27px;
    white-space: normal;
  }
  .typografy {
    color: #eb8382;

    font-size: 27px;
    font-weight: 700;
  }
  .much {
    color: #eb8382;

    font-size: 18px;

    font-weight: 700;
    line-height: 0px; /* 0% */
  }
}
.footer {
  border-top: 1.5px solid #816f8c;
  

  padding: 20px 0;
  background: #ffe6d7;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
